@model MyProject.Models.CityView

@{
    ViewData["Title"] = "Index";
}

<h1>Cities</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Cities" asp-action="Index" method="get">
    <p>
     @*    <select asp-for="NameCity" asp-items="Model.Names">
            <option value="">All</option>
        </select> *@

        Name city: <input type="text" name="id" />
        <input type="submit" value="Filter" />
       
    </p>
</form>
<div >
    @{
        int @num=0;
    }
    

<table class="table">
      
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Names![0].NameCity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        @foreach (City item in Model.Names.ToList()) {
        <tr>
        <td>
                    @Html.DisplayFor(modelItem => item.NameCity)
        </td>
        <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
        </tr>
        }

    </tbody>
</table>
  
    <a onclick="  @{
        num = @num + 1;
    }" asp-controller="Cities" asp-action="Index" method="get" asp-for="NameCity" asp-route-numPage="@num">next</a>
    
        @{if (num != 0)
        {
        <a onclick="  @{
        num = @num - 1;} asp-controller="Cities" asp-action="Index" method="get" asp-for="NameCity" asp-route-numPage="@num">prev</a>}
        }
    <a asp-controller="Cities" asp-action="Index" method="get" asp-for="NameCity" asp-route-decs_incre="true"> descending </a>
    <a asp-controller="Cities" asp-action="Index" method="get" asp-for="NameCity" asp-route-decs_incre="false"> increase </a>
</div>

